.square {
    border: 1px solid #000;
    background-color: white;
    width: 50px;
    height: 50px;
}
.square-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}